Lab5/files/XSD.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
<complexType name="StudParam">
	<sequence>
		<element name="name" 	  type="String" />
		<element name="surname"   type="String" />
		<element name="course" 	  type="int" />
		<element name="numOfZach" type="int" />
	</sequence>
</complexType>
</schema>